.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
  align-items: center;
  padding-top: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 5px;
  border: 2px solid #3c4ca380;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.img {
  height: 300px;
  width: 200px;
}
